    * {
        margin-top: 500px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    body {
        animation: Back 10s linear infinite;
    }
    
    .eclipse {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -500%);
        width: 150px;
        height: 150px;
    }
    
    .eclipse .sun {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #ffad00;
        border-radius: 50%;
        box-shadow: 0px 0px 50px 4px #ffad00;
        margin-top: 150px;
        margin-right: 150px;
        animation: sun 16s ease-in-out infinite;
    }
    
    .eclipse .moon {
        position: absolute;
        /* top: 50%;
        left: 50%; */
        width: 150px;
        height: 150px;
        background: #fff;
        border-radius: 50%;
        margin-top: 150px;
        margin-left: 0px;
        animation: moveMoon 10s linear infinite;
    }
    
    @keyframes moveMoon {
        0% {
            transform: translateX(200px);
            background: #fff;
        }
        50% {
            transform: translateX(0px);
            background: #fff;
        }
        100% {
            transform: translateX(-200px);
        }
    }
    
    @keyframes Back {
        0%,
        100% {
            background: #fff;
        }
        50% {
            background: rgb(0, 0, 0);
        }
    }
    
    @keyframes sun {
        50% {
            box-shadow: 0px 0px 20px 4px #ffad00;
        }
    }